################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/Playground/bin
/Playground/obj/Debug
/Playground.Tests/obj/Debug
